body {
  background-color: #fff001;
  color: #000;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}
.space-mono {
  font-family: 'Space Mono', monospace;
}

.page {
  padding: 2vh 9rem;
}

.search {
  margin: auto;
  width: 100%;
}
input {
  width: 100%;
}
.search::placeholder {
  font-family: 'Nunito', sans-serif;
}
.search-result {
  background-color: #fff001;
}
.hint {

}
.grid {
  display: grid;
  place-items: center;
}
.grid-item {
  grid-area:1/1
}
.footer a {
  text-decoration: none;
  color: #000
}

@media (max-width: 750px) {
  .page {
    padding: 2vh 1rem;
  }
  .search input {
    font-size: 1.5rem;
  }
}
